@media(max-width:425px){
    body{
        background-image: url(../images/bg-mobile.svg);
 }

 .header-container a img{
    width: 150px;
    padding: 5px 10px;
 }

 .hero{
    flex-direction: column;
    align-items: flex-start;  
 }

 .hero .item img{
    width: 290px;
    margin-bottom: 10px;  
 }

 .hero .item .subtitulo-hero{
    font-size: 2.8rem;
    align-items: center;
 }

 .hero .item p{
    font-size: 1.4rem;
    margin-bottom: 10px;
 }

 .hero .btn-register a{
   justify-content:center;
    padding: 10px 7rem;
    align-items: center;
 }

 .footer {
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
}
