html{
    font-size: 62.5%;
    max-width: var(--max-width-size);
}

body{
    display: grid;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    grid-template-areas: "header header"
                          "hero  hero"
                          "footer footer";
    grid-template-columns: repeat(2, 1fr);
    background-image: url(../images/bg-desktop.svg);               
    background-color: var(--background-color-page);
    background-repeat: no-repeat;
    background-size:cover;
    color: #fff;
    max-height: 100vh;
}


.header{
    grid-area: header;
    display: flex;
    justify-content:flex-start
    align-items: flex-start;
}

.header-container a img{
    
    margin: 20px 8rem;
    width: 150px;
    height: 150px;
}

.hero{
    grid-area: hero;
    display: flex;
    justify-content:flex-start;
    margin-left: 4rem;
}

.hero .item{
    justify-content: center;
    align-items: center;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
    max-height: 700px;
    gap: 30px;
    
}
.hero .item img{

    width: 500px;
    margin: 0 auto;
    
 }

.hero .subtitulo-hero{
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    margin-left: 3rem;

}
.hero .item p{
    font-size: 1.8rem;
    font-weight: 400;
    padding: 20px;
    margin-left: 3rem;
}

.hero .btn-register a{
    margin-left: 5rem;
    font-weight: 400;
    border-radius: 40px;
    color:rgb(163, 163, 163);
    background-color: #fff;
    padding: 10px 40px;
    transition: 0.3s;
}

.hero .btn-register a:hover{
    background-color:var( --btn-color);
    color: #fff;
    opacity: 0.8;
}

.footer{
    grid-area: footer;
    display: flex;
    margin: 20px;
    justify-content: flex-end;
    padding: 20px;
    margin-right: 1.5rem;
    
}

.footer .social a{
    margin: 5px;
    font-size: 3.5rem;
    color: #fff;
    transition: 0.3s;
}

.footer .social a:hover{
    color:var( --btn-color);
    opacity: 0.8;
}
